name: Java CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-backend:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: auxilium
          MYSQL_USER: admin
          MYSQL_PASSWORD: admin
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Install MySQL client
      run: sudo apt-get update && sudo apt-get install -y default-mysql-client

    - name: Wait for MySQL
      run: |
        until mysqladmin ping -h127.0.0.1 -uadmin -padmin --silent; do
          echo "Waiting for database connection..."
          sleep 2
        done

    - name: Build with Maven
      run: mvn -f SpringBootVzpostavitev/pom.xml clean install

    - name: Run tests with Maven and generate coverage
      run: mvn -f SpringBootVzpostavitev/pom.xml test jacoco:report
    
    - name: Upload SpringBootVzpostavitev coverage
      uses: actions/upload-artifact@v4
      with:
        name: SpringBootVzpostavitev-coverage
        path: SpringBootVzpostavitev/target/site/jacoco
        if-no-files-found: warn

  build-frontend:
    runs-on: ubuntu-latest
    container: node:18

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      working-directory: ./Frontend
      run: npm install

    - name: Build project
      working-directory: ./Frontend
      run: npm start &
      timeout-minutes: 1

    - name: Run tests with coverage
      working-directory: ./Frontend
      run: npm run test -- --coverage --watchAll=false

    - name: Upload Frontend coverage artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Frontend-coverage
        path: Frontend/coverage
        if-no-files-found: warn